mixin title()
    if current.path.length > 1
        if publish != "false"
            title= "cowlik | " + title
        else
            title= "cowlik | 404"
    else
        title= title

mixin main()
    if current.path.length > 1
        if publish != "false"
            main(id="#{current.path[0]}", class="#{current.path[1]}")
                != yield
        else
            main
                != partial("404")
    else
        main
            != yield

doctype
html(lang="en")
  head
    +title()
    != partial("_shared/meta")
    //link(rel="icon", href="/favicon.png")
    != partial("_shared/css")
    //!= partial("_shared/analytics")
  body
    != partial("_shared/header")
    +main()
    != partial("_shared/nav")
    != partial("_shared/footer")
    //!= partial("_shared/js")
